main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   padding: 2rem;
   h1,
   h2 {
      font-size: 1.6rem;
      margin-top: 2rem;
      width: 100%;
      text-align: center;
   }
   h1 {
      margin-bottom: 1rem;
   }
   section.contact-hero {
      display: flex;
      flex-direction: column;
      text-align: center;
      grid-row: 1 / 2;
      img {
         height: 12rem;
         width: 15rem;
         object-fit: cover;
         margin-inline: auto;
      }
   }
   section.contact-form {
      display: flex;
      flex-direction: column;
      text-align: center;
      grid-row: 1 / 3;
      form {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 1rem;
         width: 100%;
         .form-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            width: 65%;
            input, textarea {
               width: 100%;
            }
         }
      }
   }
   section.contact-map {
      grid-row: 2 / 4;
      margin-top: 1rem;
      iframe {
         padding: 1rem 3rem 3rem;
         width: 100%;
         border-radius: 15px;
      }
   }
   section.contact-info {
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 9rem;
      h2,
      p {
         margin-block: 0;
      }
   }
}
